@import "../../index.scss";

.domain-gestion-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .domain-gestion-choice {
        .domain-gestion-choice-link {
            text-decoration: none;
        }
    }

    @media (max-width: $gen_resp) {
        justify-content: center;
        align-items: center;
    }
}
