@import "../../index.scss";

#kpture-container {
    display: flex;
    gap: 40px;

    #ktpure-users-delete-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 10px;
        cursor: pointer;

        #ktpure-users-delete-actions {
            button {
            }
        }

        #ktpure-users-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            gap: 10px;

            cursor: pointer;
            .ktpure-users-delete {
                border-radius: 5px;
                background: $light_black;
                width: 100px;
                height: 100px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px dashed transparent;

                span {
                    color: $white;
                }

                &:hover {
                    border: 2px dashed red;
                    transform: scale(1.03);
                    transition: 0.2s;
                }
            }

            .is-selected {
                border: 2px dashed red;
            }
        }
    }

    #kpture-user-form-container {
        border-radius: 8px;
        border: 1px solid $light_black;
        padding: 30px;

        &:hover {
            border: 1px solid $white;
            cursor: pointer;
        }

        .kpture-user-form {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .kpture-user-form-text {
                color: $clear_black;
            }
        }
    }
}
