@import "../../index.scss";

#data-texts {
    display: flex;
    flex-direction: column;
    border: 1px solid $light_black;
    padding: 20px;
    gap: 10px;
    border-radius: 8px;
    width: 250px;

    @media (max-width: $gen_resp) {
        justify-content: center;
        align-items: center;
    }

    .data-text-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;

        .data-text {
            color: white;
        }

        .data-text-data {
            color: white;
        }
    }
}
