@import "../../index.scss";

.settings-card-container {
    display: flex;
    width: 300px;
    flex-direction: row;
    gap: 15px;
    border: 1px solid $light_black;
    padding: 20px;
    border-radius: 10px;

    &:hover {
        border: 1px solid $white;
        cursor: pointer;
    }

    .settings-card-header {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        color: $white;

        .settings-card-title {
            color: $white;
            text-align: right;
        }
    }

    .settings-card-content {
        .settings-card-text {
            color: $white;
        }
    }
}
