@import "../../index.scss";

#form {
    display: flex;
    flex-direction: column;
    gap: 20px;

    #form-ipts {
        display: flex;
        gap: 10px;
        flex-direction: column;
    }

    #form-actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 10px;
    }
}

#nav-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
    gap: 5px;
    margin-bottom: 10px;

    @media (max-width: $gen_resp) {
        flex-direction: column;
        gap: 15px;
    }

    #nav-brand {
        display: flex;
        flex-direction: row;
        align-items: center;
        #nav-logo {
            width: 50px;
            height: 50px;
        }
    }

    #nav-clock {
        min-width: 90px;
        padding: 10px;
        border-radius: 10px;
        border: 2px solid $light_black;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        @media (max-width: $gen_resp) {
            display: none;
        }
    }

    #nav-sub-container {
        display: flex;
        flex-direction: row;
        gap: 10px;
        align-items: center;
        background: $light_black;
        padding: 10px;
        border-radius: 10px;

        @media (max-width: $gen_resp) {
            justify-content: center;
            align-items: center;
        }
    }

    #nav-actions {
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 5px;

        @media (max-width: $gen_resp) {
            justify-content: center;
        }

        .nav-action {
            width: 40px;
            height: 40px;
        }
    }

    #nav-text {
        color: $white;
    }
}
