@import "../../index.scss";

.displayable {
    padding: 16px;
    background: $light_black;
    border-radius: 8px;
    min-width: 105px;
    min-height: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    &:hover {
        cursor: pointer;
        transform: scale(1.05);
        border-radius: 9px;
        transition: 0.1s ease-in-out;

        .displayable-links {
            color: transparent;
        }
    }

    .displayable-links {
        color: $white;
        padding: 5px;

        .txt {
        }
    }

    .displayable-links-special {
        color: $white;
        padding: 5px;
        font-family: Arial, sans-serif;
        font-weight: bold;
        text-decoration: none;
        font-size: 10px;
        border: 5px solid $black;
        background: $light_black;
        position: absolute;
        overflow: hidden;
        max-width: 50%;
        max-height: 20%;
        top: 0;
        right: 0;
        border-bottom-left-radius: 10px;
        border-top-right-radius: 5px;
        border-top: none;
        border-right: none;
    }
}
