@font-face {
    font-family: "LondrinaSolid-Regular";
    src: url("./assets/fonts/LondrinaSolid-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "ShantellSans-Regular";
    src: url("./assets/fonts/ShantellSans-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Poppins-MediumItalic";
    src: url("./assets/fonts/Poppins-MediumItalic.ttf") format("truetype");
}

$gen_resp: 900px;
$black: #1c1c1c;
$light_black: #2c2c2c;
$white: #fff;
$clear_black: #d3d3d3;

#root,
body {
    min-height: 100% !important;
    height: 100%;
    padding: 10px;
    margin: 0;
    box-sizing: border-box;
    background: $black;

    @media (max-width: $gen_resp) {
        padding: 5px;
    }
}

.londrina-solid-regular {
    letter-spacing: 1px;
    font-size: 18px;
    font-family: "LondrinaSolid-Regular";
}

.poppins-medium-italic {
    letter-spacing: 0.2px;
    color: $clear_black;
    font-family: "Poppins-MediumItalic";
}

.shantell-sans-regular {
    letter-spacing: 1px;
    font-family: "ShantellSans-Regular";
}

* {
    padding: 0;
    margin: 0;
}
